<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}Youtube_project z25_nesterovich</title>
        {% load static %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap_3.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap_4.min.css' %}">
            <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>
    <body>
        <div class="container">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/new_video' %} active {% endif %}" href="/new_video">Upload Video</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            {% else %}
             <li class="nav-item">
                <a class="nav-link {% if request.path == '/login' %} active {% endif %}" href="/login">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/register' %} active {% endif %}" href="/register">Sign Up</a>
            </li>
            {% endif %}
        </ul>
        <br>
            <div class="container-fluid">
            {% block body %}
            {% endblock %}
            </div>
        </div>

        </center>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    </body>
</html>
